@charset "utf-8";

@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('../font/Eulyoo1945-SemiBold.eot');
    src: url('../font/Eulyoo1945-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Eulyoo1945-SemiBold.woff2') format('woff2'),
        url('../font/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;


}


@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');